/* #video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-background {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
} */

#content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* body {
    background-image: url(twinPeaksWaiting.gif);
    background-size: cover;
} */