body {
    background-color: #FFFDFB
}

#input-section {
    display: flex;
    justify-content: center;

    margin: 20px 10px;
}

#url-in {
    background-color: #F0F0F0;
    transition: background-color 85ms linear;
    
    width: 280px;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;

    font-size: 15px;
}

#url-in:hover {
    background-color: #E8E8E8;
}

#btn-add {
    background-color: #F0F0F0;
    transition: background-color 85ms linear;

    margin-left: 10px;
    padding: 8px 11px;
    border: none;
    border-radius: 20px;

    font-size: 15px;
}

#btn-add:hover {
    background-color: #EAEAEA;
}

#error-p {
    color: red;
    margin: 5px 10px;
}

#blocklist-section {
    margin: 20px 10px;
}


.list-container {
    height: 150px;
    overflow-y: auto;
}

.list-item {
    display: flex;
    justify-content: center;

    background-color: none;
    border-radius: 20px;
    transition: background-color 85ms linear;
}

.list-item:hover {
    background-color: #F0F0F0;
}

.url-span {
    font-size: 15px;
    width: 280px;
    padding: 8px 13px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.delete-button {
    transition: background-color 85ms linear;

    margin-left: 10px;
    padding: 10px 12px;
    background: none;
    border: none;
    border-radius: 20px;
    font-size: 12px;
}

.delete-button:hover {
    background-color: rgba(255, 0, 0, 0.2);
}